<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: plum;
}

header {
    background: purple;
    color: white;
    text-align: center;
    padding: 25px;
}

section {
    background: lightpink;
    margin: 20px auto;
    padding: 30px;
    max-width: 1100px;
    border-radius: 8px;
}

h2 {
    color: black;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-box {
    flex: 1;
    min-width: 250px;
    background: lavender;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.contact-box:hover {
    background: aliceblue;
    border: 2px black;
    box-shadow: 
        0 0 10px black,
        0 0 20px grey;
    transform: scale(1.05);
    cursor: pointer;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid;
}

button {
    background: lightgreen;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: blue;
}


details {
    margin: 10px 0;
    padding: 10px;
    background: yellow;
    border-radius: 5px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    border: none;
}
</style>
